.dx-datagrid .dx-row.dx-selection { /* 선택한 행 진한 회색으로 */
  background-color: #a9a9a9 !important;
}
.sidebar {
  position: fixed;
  top: 47px;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.navbar {
  border-bottom: 1px solid #ddd;
}

.content {
  margin-left: 270px;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.nav-stacked > li > ul {
  padding-left: 20px;
  list-style-type: none;
  display: block;
}
.nav-stacked > li > ul > li {
  margin: 5px 0;
}

#sideBar {
  overflow-y: auto;
  overflow-x: hidden;
}